* {
    box-sizing: border-box;
}

:root {
    --main-text-color: rgb(255, 153, 0);
    --main-background-color: rgb(81, 0, 128);
    --button-text-color: darkslateblue;
    --button-background-color: yellow;

}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;

    color: var(--main-text-color);
    background-color: var(--main-background-color);

    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 10px 20px;
}

ul {
    list-style: none;
    justify-content: center;
    padding-left: 0px;
    margin: 0 20px;
}

.button-style {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 100;

    color: var(--button-text-color);
    background-color: var(--button-background-color);

    height: auto;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 10px 0px;
}

.pokedex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hidden {
    display: none;
}

@media all and (max-width: 500px) {
    .button-style {
        text-align: left;
    }
}

@media all and (min-width: 501px) {
    .button-style {
        text-align: center;
    }
}